<%= form_with(model: cell_task, local: true) do |form| %>
  <% if cell_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cell_task.errors.count, "error") %> prohibited this cell_task from being saved:</h2>

      <ul>
      <% cell_task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form">
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.hidden_field :cell_id, value: params[:cell_id] %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>
