<div class = "cell-edit-body">
    <div class = "cell-edit">
        <%= link_to '', cell_tasks_path, class: "fas fa-arrow-left fa-2x"%>
        <%= link_to '', @cell_task, class: "fas fa-external-link-alt fa-2x" %>

        <h2>Editing Cell Task</h2>

        <%= render 'form', cell_task: @cell_task %>

    </div>
</div>