<div class = "cells-index">
  <p id="notice"><%= notice %></p>

  <div class = "h1-and-button">
      <div>
        <h1>Cells Tasks</h1>
      </div>
      <div>
        <%= link_to '<button type="button">New Cell Task</button>'.html_safe, new_cell_task_path %>
      </div>
  </div>



  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Cell</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @cell_tasks.each do |cell_task| %>
        <tr>
          <td><%= cell_task.name %></td>
          <td><%= cell_task.cell.name %></td>
          <td><%= link_to '', cell_task, class: "fas fa-external-link-alt fa-lg" %></td>
          <td><%= link_to '', edit_cell_task_path(cell_task), class: "far fa-edit fa-lg" %></td>
          <td><%= link_to '', cell_task, class: "fas fa-trash-alt fa-lg", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>