<div class = "cell-new-body">
    <div class = "cell-new">
        <%= link_to '', cells_path, class: "fas fa-arrow-left fa-3x"%>
        <h2>New Cell Task</h2>

        <%= render 'form', cell_task: @cell_task %>
        </div>
</div>
