<div class = "cell-show-body">
  <div class = "cell-show cells-tasks-show">
    <p id="notice"><%= notice %></p>
    <%= link_to '', cell_tasks_path, class: "fas fa-arrow-left fa-2x"%>
    <%= link_to '', edit_cell_task_path(@cell_task), class: "far fa-edit fa-2x" %>

    <p class = "cell-title">
      <%= @cell_task.name %>
    </p>

    <div class = "cell infos">
      <strong>Cell</strong><br>
      <%= @cell_task.cell.name %>
    </div>

  </div>
</div>