<%= form_with model: board_goal, local: true, url: board_goal_path, method: :patch do |form| %>
  <div class="field">
    <%= form.label :name, 'Nova meta: ' %>
    <%= form.text_field :name %>
  </div>

  <%= form.submit 'Concluir edição' %>
<% end %>