<%= form_with(model: board_goal, local: true) do |form| %>
  <% if board_goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(board_goal.errors.count, "error") %> prohibited this board_goal from being saved:</h2>

      <ul>
      <% board_goal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, 'Digite a nova meta' %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit 'Salvar meta' %>
  </div>
<% end %>
