<div class = "cell-edit-body">
    <div class = "cell-edit">
        <%= link_to '', @board_goal.board, class: "fas fa-arrow-left fa-2x"%>
        <%= link_to '', @board_goal, class: "fas fa-external-link-alt fa-2x" %>

        <h2>Editing Board Goal</h2>

        <%= render 'edit_form', board_goal: @board_goal %>
    </div>
</div>