<p id="notice"><%= notice %></p>

<h1>Board Goals</h1>

<table>
  <thead>
    <tr>
      <th>Board</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @board_goals.each do |board_goal| %>
      <tr>
        <td><%= board_goal.board %></td>
        <td><%= link_to 'Show', board_goal %></td>
        <td><%= link_to 'Edit', edit_board_goal_path(board_goal) %></td>
        <td><%= link_to 'Destroy', board_goal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Board Goal', new_board_goal_path %>
