<div class = "cell-new-body">
    <div class = "cell-new">
        <%= link_to '', @board, class: "fas fa-arrow-left fa-3x"%>
        <h2 class = "new-cell-title">New Board Goal <%= @board.name %></h2>

        <%= render 'new_form', board_goal: @board_goal %>
    </div>
</div>
