<div class = "project-show-body">
  <div class = "project-show">
    <p id="notice"><%= notice %></p>
    <%= link_to '', edit_board_goal_path(@board_goal.board, @board_goal), class: "far fa-edit fa-2x" %>
    
    <p class = "project-title">
      <strong>Diretoria: </strong>
      <%= @board_goal.board.name %>
    </p>

    <div class = "project-infos">
      <div>
        <strong>Meta: </strong>
        </div>
      <div>
        <%= @board_goal.name %>
        </div>
    </div>


    <div class = "project-infos">
      <div>
        <strong> Status: </strong>
        </div>
      <div>
        <% if @board_goal.done %>
          Concluída
        <% else %>
          Não Concluída
        <% end %>
      </div>
    </div>
 
  </div>
</div>