<div class="signup">  
  <div class="container">  
    <div class="form">  
      <h2>Inscrição</h2>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        
        <div class="field">
          <%= f.label :nome %><br />
          <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: 'Nome'  %>
        </div>

        <div class="field">
          <%= f.label :sobrenome %><br />
          <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder: 'Sobrenome' %>
        </div>

        <div class="field">
          <%= f.hidden_field(:kind, value: 'standard')%>
        </div>

        <div class="field">
          <%= f.hidden_field(:board_id, value: Board.first.id)%>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: '{IN}mail@injunior.com.br' %>
        </div>

        <div class="field">
          <%= f.label :foto %><br/>
          <%= f.file_field :photo %>
        </div> 


        <div class="field">
          <%= f.label :senha %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", placeholder: '*******' %>
        </div>

        <div class="field">
          <%= f.label :confirmar_senha %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: '*******' %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
