// Place all the styles related to the forum/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors.scss';
@import 'fonts.scss';




// #### ##    ## ########  ######## ##     ## 
//  ##  ###   ## ##     ## ##        ##   ##  
//  ##  ####  ## ##     ## ##         ## ##   
//  ##  ## ## ## ##     ## ######      ###    
//  ##  ##  #### ##     ## ##         ## ##   
//  ##  ##   ### ##     ## ##        ##   ##  
// #### ##    ## ########  ######## ##     ## 




.forum-new-post{ 
    height: 100vh;
    margin-left:10%;
    font-family: Arial, Helvetica, sans-serif;
    .forum-form-new-post{ 
        height: 30vh;
        width: 80%;
        
    }

   .forum-field-content{
        transform: translateY(5vh);
   }

   input[type="text"] , #forum_post_content{
       width: 50%;
       border: 1px solid $cinza-quaternario;
       padding: .6em .7em;
       border-radius: 3%;
       font-size: 13px;

    
   }
   #forum_post_content{
       padding: 10px;
       height: 20vh;
    }

   input[type="submit"]{
        transform: translateY(6vh);
        color: white;
        background-color: #002F67;
        padding: 5px;
        border: {
            radius: 3%;
            color: $azul-escuro;
            
        }
        box-shadow: 0;

   }

   input:focus, textarea:focus{
        position: relative;
        border-color: $azul-claro;
        box-shadow: 0 0 0 2px rgba(0,149,255,0.15);
        outline: 0;
    }

    
}

.forum-index{
    
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background-color: #F8F8F8;
    h1{
        font-family: 'Open Sans Condensed', sans-serif;
        color: $azul-escuro;
        font-weight: bold;
        font-size: 2.5em;
        
    }

    .post{
        margin-left:10%;
        width: 70%;
        border-top: 1px solid $cinza-terciario;
        margin-top: 2%;
    }

    .forum-index-posts{
        margin-top: 3%;
    }

    a{
        font-size: 16px;
    }

    button{
        color: white;
        background-color: #002F67;
        padding: 5px;
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: bold;
        border: {
            radius: 3%;
            color: $azul-escuro;
            
        }
        box-shadow: 0;
    
    }

    .h1-and-button{
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin-left: 10%;

    }
}

.forum-post-body{
    background-color: #F8F8F8;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100%;
    .forum-post{
        background-color: white;
        border-radius: 3%;
        width: 60%;
        margin-left: 20%;

        h2{
            font-size: 24px;
            color: $azul-escuro;
        }
    
        h2, .content, .forum-links{
            margin-left: 5%;
            margin-right: 5%;
            
        }

        .content{
            width: 90%;
            border-top: 1px solid $cinza-terciario;
            border-bottom: 1px solid $cinza-terciario;
        
            p{
                margin-top: 2%;
            }
        }

        .forum-links{
            margin-top: 1%;
        }        
    }
}




//  ######  ##     ##  #######  ##      ## 
// ##    ## ##     ## ##     ## ##  ##  ## 
// ##       ##     ## ##     ## ##  ##  ## 
//  ######  ######### ##     ## ##  ##  ## 
//       ## ##     ## ##     ## ##  ##  ## 
// ##    ## ##     ## ##     ## ##  ##  ## 
//  ######  ##     ##  #######   ###  ###  




.forum-post-body {
    width: 100%;
    background-color: $cinza-primario;
    
    h2 {
        font-size: 24px;
        font-weight: bold;
    }

    .forum-post {
        width: 90vw;
        margin: 0 auto;
        background-color: $cinza-secundario;
        border-radius: 5px;

        .forum-links {
            width: 90vw;
            height: 40px;
            margin: 0 auto;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            background-color: $cinza-terciario;
            display: flex;
            justify-content: flex-end;
            
            .like {
                display: flex;
                justify-content: baseline;
                margin: 5px 10px;
                
                input {
                    background-image: image-url("thumbs-up-regular");
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: 30px;
                    height: 30px;
                    border: none;               
                }

                  
                p {
                    color: blue;
                    font-weight: bold;
                }
            }

            .dislike {
                display: flex;
                justify-content: baseline;
                margin: 5px 10px;
                
                
                input {
                    background-image: image-url("thumbs-down-regular");
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: 30px;
                    height: 30px;
                    border: none;                  
                }

                p {
                    color: red;
                    font-weight: bold;
                }
            }

            a {
                font-weight: bold;
                padding: 10px 10px;
            }

            
        }
    }
}