<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class = form>
  <div class="field">  
    <%= form.label :first_name, 'Nome' %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name, 'Sobrenome' %>
    <%= form.text_field :last_name %>
  </div>

  <% if current_user && current_user.kind_before_type_cast >= User.kinds[:admin] %>
    <div class="field">
      <%= form.label :kind, 'Cargo' %>
      <%= form.select :kind, user_kind_options, id: :user_kind %>
    </div>
    
    <div class="field">
      <%= form.label :board_id, 'Diretoria' %>
      <%= form.collection_select :board_id, Board.all, :id, :name, prompt: true  %>
    </div>
  <% end %>


   <div class="field">
    <%= form.label :photo, 'Foto' %><br/>
    <%= form.file_field :photo %>
  </div> 

  <div class="actions">
    <%= form.submit 'Atualizar' %>
  </div>
</div>
<% end %>
