<div class = "user-edit-body">
    <div class = "user-edit">
        <%= link_to '', users_path, class: "fas fa-arrow-left fa-2x"%>
        <%= link_to '', @user, class: "fas fa-external-link-alt fa-2x" %>
        <h2>Editando Usuário</h2>

        <%= render 'form', user: @user %>

    </div>
</div>