<div class = "users-index">
  <p id="notice"><%= notice %></p>
  
  <div class = "h1-and-button">
      <div>
        <h1>Usuários</h1>
      </div>
  </div>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Cargo</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= translated_user_kind(user) %></td>
          <td><%= link_to "" , user, class: "fas fa-external-link-alt fa-lg"%></td>
          <td><%= link_to "",  edit_user_path(user), class: "far fa-edit fa-lg" %></td>
          <td><%= link_to "", user, class: "fas fa-trash-alt fa-lg", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>