<div class = "user-profile">
  <div classs = "user-box">
    <p id="notice"><%= notice %></p>
      <div class = "users-icons">
        <%= link_to '', users_path, class: "fas fa-arrow-left fa-2x"%>
        <%= link_to '', edit_user_path(@user), class: "far fa-edit fa-2x" %>
      </div>   

    <div class = "user-info">

      <div>
        <p>
          <% if @user.photo.present?%>
            <%= image_tag(@user.photo.url) %>
          <% end %>
        </p>
      </div>

      <div class = "names">
        <div class = "names-2">
          <p id = "name">
            <%= @user.first_name %> <%= @user.last_name %>
          </p>

          <% if @user.kind %>
            <p class = "bottom-names" id="kind">
            <%= translated_user_kind(@user) %>
            </p>
          <% end %>


          <p class = "bottom-names" id="diretoria">Diretoria atual: <%= user_board(@user) %></p>
          
        </div>

    
    </div>

  </div>



  <div class = "boards"> <!--body dos boards-->
    <div class="container_board">  
      <div class = "board">
        <h2>Projetos atuais</h2><br/>
        <% @user_developments.each do |user_developments| %>
        <ul>
          <li class = "board-text"><div><%= user_developments.project.name %><br/></div></li>
        </ul>
        <% end %>
      </div>

      <div class = board>
        <h2>Células atuais</h2><br/>
        <% @user_join.each do |user_join| %>
        <ul>
          <li class = "board-text"><div><%= user_join.cell.name %><br/></div></li>
        </ul>
        <% end %>
      </div>
    </div>

  </div>

    
</div>
