<div class="forgot_password">
  <div class="container">
    <div class="form">
      <h2>Esqueci minha senha</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: '{IN}mail@injunior.com.br' %>
        </div>

        <div class="actions">
          <%= f.submit "redefinir senha" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
