<div class = "forum-form-new-post">
  <%= form_with model: forum_post, local: true do |form| %>
    <% if forum_post.errors.any? %>
      <div class="errors">
        <ul>
          <% forum_post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="field">
      <%= form.label :title %></br>
      <%= form.text_field :title, required: true %></br>
    </div>

    <div class="field forum-field-content">
      <%= form.label :content %></br>
      <%= form.text_area :content, placeholder: "Digite sua postagem aqui..." , required: true %>
    </div>

    <%= form.submit %>
  <% end %>
</div>