<div class = "forum-index">

<div class = "h1-and-button">
      <div>
        <h1>Navegue pelos posts do fórum</h1>
      </div>
      <div>
        <%= link_to '<button type="button">Novo Post</button>'.html_safe, forum_new_post_path, method: :get %>
      </div>
    </div>

  <div class = "forum-index-posts">
    <% @posts.each do |post| %>
      <div class="post">
        <h3> <%= link_to post.title, post %> </h3>
        <p> Postado por: <%= link_to post.user.full_name, post.user %> </p>
      </div>
    <% end %>
  </div>

  
</div>