<div class = "forum-post-body">
  <div class = "forum-post">
    <h2> <%= @post.title %> </h2>

    <div class="content">
      <div class="post_text">
        <p> <%= @post.content %> </p>
      </div>
      <p> Postado por: <%= link_to @post.user.full_name, @post.user %> </p>
     
    </div>
    <div class = "forum-links">
      <div class="like">
        <%= button_to '', forum_add_like_path(@post) %>             
        <p> <%= @post.number_of_likes %>  </p>
      </div> 
      <div class="dislike">
        <%= button_to '', forum_add_dislike_path(@post) %>  
        <p> <%= @post.number_of_dislikes %>  </p>      
      </div>
      <%= link_to 'Voltar', forum_posts_path %>
      <%= link_to 'Excluir', forum_post_path, method: :delete %>              
    </div>
  </div>
</div>

