<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form"> 
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :info %>
      <%= form.text_area :info %>
    </div>

    <div class="field">
      <%= form.label :manager %>
      <%= form.text_field :manager %>
    </div>

    <div class="field develop">
      <%= form.label :develop_id %>
      <%= form.number_field :develop_id %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>
