<div class = "project-edit-body">
    <div class = "project-edit">
        <%= link_to '', projects_path, class: "fas fa-arrow-left fa-2x"%>
        <%= link_to '', @project, class: "fas fa-external-link-alt fa-2x" %>
        
        <h2>Editing Project</h2>

        <%= render 'form', project: @project %>

        
    

    </div>
</div>
