<div class = "projects-index-body">
  <div class = "projects-index">
    <p id="notice"><%= notice %></p>
    
    <div class = "h1-and-button">
      <div>
        <h1>Projects</h1>
      </div>
      <div>
        <%= link_to '<button type="button">New Project</button>'.html_safe, new_project_path %>
      </div>
    </div>
    

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @projects.each do |project| %>
          <tr>
            <td><%= project.name %></td>
            <td><%= link_to "", project, class: "fas fa-external-link-alt fa-lg"%></td>
            <td><%= link_to "", edit_project_path(project), class: "far fa-edit fa-lg" %></td>
            <td><%= link_to "", project, class: "fas fa-trash-alt fa-lg", method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <br>
  </div>
</div>

