<div class = "project-new-body">
    <div class = "project-new">
        <%= link_to '', projects_path, class: "fas fa-arrow-left fa-3x"%>
        <h2>New Project</h2>

        <%= render 'form', project: @project %>
    </div>
</div>
