<div class = "project-show-body">
  <div class = "project-show">
    <p id="notice"><%= notice %></p>

    <%= link_to '', edit_project_path(@project), class: "far fa-edit fa-2x" %>
    <%= link_to '', projects_path , class: "fas fa-external-link-alt fa-2x"%>

    <p class = "project-title">  
      <%= @project.name %>
    </p>

    <div class = "project-infos">
      <div>
        <strong>Info</strong>
      </div>
      <div>
        <%= @project.info %>
      </div>
    </div>

    <div class = "project-infos">
      <div>
        <strong> Manager</strong>
      </div>
      <div>
        <%= @project.manager %>
      </div>
    </div>


    <div class = "project-infos">
      <strong>Desenvolvedores</strong><br/>
      <% @project_developers.each do |project_developer| %>
        <%= project_developer.user.first_name %><br/>
      <% end %>
    </div>


    </div>
</div>
