<%= form_with model: board_task, local: true, url: board_task_path, method: :patch do |form| %>
  <div class="field">
    <%= form.label :name, 'Nova descrição: ' %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :done, 'Concluída' %>
    <%= form.check_box :done %>
  </div>

  <%= form.submit 'Concluir edição' %>
<% end %>