<%= form_with(model: board_task, local: true, url: board_tasks_path) do |form| %>
  <% if board_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(board_task.errors.count, "erro") %> ao adicionar a tarefa:</h2>

      <ul>
      <% board_task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, 'Digite a nova tarefa: ' %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit 'Criar nova tarefa' %>
  </div>
<% end %>
