<div class = "cell-edit-body">
    <div class = "cell-edit">
        <%= link_to '', @board_task.board, class: "fas fa-arrow-left fa-2x"%>
        <%= link_to '', @board_task, class: "fas fa-external-link-alt fa-2x" %>

        <h2>Editar Tarefa</h2>

        <%= render 'edit_form', board_task: @board_task %>
    </div>
</div>