<p id="notice"><%= notice %></p>

<h1>Board Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Board</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @board_tasks.each do |board_task| %>
      <tr>
        <td><%= board_task.board %></td>
        <td><%= link_to 'Show', board_task %></td>
        <td><%= link_to 'Edit', edit_board_task_path(board_task) %></td>
        <td><%= link_to 'Destroy', board_task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Board Task', new_board_task_path %>
