<div class = "cell-new-body">
    <div class = "cell-new">
        <%= link_to '', @board, class: "fas fa-arrow-left fa-3x"%>
        <h2 class = "new-cell-title">Nova tarefa da Diretoria de <%= @board.name %></h2>

        <%= render 'new_form', board_task: @board_task %>
    </div>
</div>
