<div class = "project-show-body">
  <div class = "project-show">
    <p id="notice"><%= notice %></p>
    <%= link_to '', edit_board_task_path(@board_task.board, @board_task), class: "far fa-edit fa-2x" %>
    
    <p class = "project-title">
      <strong>Diretoria: </strong><%= @board_task.board.name %>
    </p>

    <div class = "project-infos">
      <div>
        <strong>Tarefa: </strong>
        </div>
      <div>
        <%= @board_task.name %>
        </div>
    </div>

    <div class = "project-infos">
      <div>
        <strong> Status: </strong>
        </div>
      <div>
        <% if @board_task.done %>
          Concluída
        <% else %>
          Não Concluída
        <% end %>
      </div>
    </div>

    
  </div>
</div>