<p id="notice"><%= notice %></p>

<h1>Board Goal Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Boardgoal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @board_goal_tasks.each do |board_goal_task| %>
      <tr>
        <td><%= board_goal_task.boardgoal %></td>
        <td><%= link_to 'Show', board_goal_task %></td>
        <td><%= link_to 'Edit', edit_board_goal_task_path(board_goal_task) %></td>
        <td><%= link_to 'Destroy', board_goal_task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Board Goal Task', new_board_goal_task_path %>
