<p id="notice"><%= notice %></p>

<p>
  <strong>Boardgoal:</strong>
  <%= @board_goal_task.boardgoal %>
</p>

<%= link_to 'Edit', edit_board_goal_task_path(@board_goal_task) %> |
<%= link_to 'Back', board_goal_tasks_path %>
