<div class="login">  
   <div class="container"> 
     <div class="form"> 
      <h2>Log{IN}</h2>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: '{IN}mail@injunior.com.br'%>
        </div>

        <div class="field">
          <%= f.label :senha %>
          <%= f.password_field :password, autocomplete: "current-password", placeholder: '********' %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :lembrar_senha %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>  
  </div>
</div>