<div class="form_board">
    <%= form_with(model: board, local: true) do |form| %>
      <% if board.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(board.errors.count, "error") %> prohibited this board from being saved:</h2>

          <ul>
          <% board.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :nome_da_diretoria %>
        <%= form.text_field :name %>
      </div>

      <div class="actions">
        <%= form.submit 'Criar diretoria' %>
      </div>
    <% end %>
</div>
