<div class="board_edit">
    <div class="container_form_board"> 
        <div class="board_edit_links">
            <%= link_to '', boards_path, class: "fas fa-arrow-left fa-2x"%>           
            <%= link_to '', @board, class: "fas fa-external-link-alt fa-2x" %>
        </div> 
        <h1>Editar diretoria</h1>

        <%= render 'form', board: @board %>
    </div>    
</div>
