<div class="boards">
  <p id="notice"><%= notice %></p>

    <h1>Diretorias</h1>
    <div class="container_board">  
      <% @boards.each do |board| %>
        <div class="board">         
          <div class="dropdown_board">
            <button class="dropbutton_board"><%= image_tag  "menu.png" %></button>
            <div class="dropdown_board_content">  
              <%= link_to 'Exibir', board %>
              <%= link_to 'Editar', edit_board_path(board) %>
              <%= link_to 'Excluir', board, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
          <div class="text_board">
            <%= board.name %>
          </div>
        </div> 
      <% end %>    
      <div class="new_board_button">
        <button class="dropbutton"><%= link_to '', new_board_path %></button>
      </div>
    </div>  
</div>