<div class="new_board">
    <div class="container_form_board"> 
        <h1>Nova Diretoria</h1>

        <%= render 'form', board: @board %>
        <div class="link_board">
            <%= link_to 'Voltar para diretorias', boards_path %>
        </div>    
    </div>
</div>