<div class = "show_board_body">
  <div class="show_board">
    <p id="notice"><%= notice %></p>
    <div class = "board-icons">
      <%= link_to '', boards_path, class: "fas fa-arrow-left fa-2x"%>
      <%= link_to '', edit_board_path(@board), class: "far fa-edit fa-2x" %>
    </div>

  <h2> Diretoria de <%= @board.name %> </h2>

  <% if @board_director %>
    <p>
      <strong>Diretor:</strong>
      <%= @board_director.full_name %>
    </p>
  <% else %>
    <p> <strong> Diretoria sem diretor </strong> </p>
  <% end %>

  <p>
    <strong>Assessores:</strong><br/>
    <% @board_assessors.each do |board_assessor| %>
      <%= board_assessor.full_name %><br/>
    <% end %>
  </p>

  <div class="board-tasks">
    <%= link_to '', new_board_task_path(@board), class: "fas fa-plus-circle fa-2x" %>
    <h3 id = "task"> Tarefas</h3>
    <div class="container_board">  
      <div class = "board">
        <h2> Pendentes <i class="far fa-clock"></i></h2>
        <ul>
          <% @board.board_tasks.each do |board_task| %>
            <% if !board_task.done %>
              <li class = "board-text"> <%= link_to board_task.name, board_task_path(@board, board_task) %> </li>
            <% end %>
          <% end %>
        </ul>
      </div>


      <div class = "board">
        <h2> Concluidas <i class="fas fa-check"></i></h2>
          <% @board.board_tasks.each do |board_task| %>
            <ul>
              <% if board_task.done %>
                <li> <%= link_to board_task.name, board_task_path(@board, board_task) %> </li>
              <% end %>
            <% end %>
            </ul>
      </div>
  </div>
</div>

    
  </div>

  <div class="board-tasks">
    <div class="container_board">  
      <div class = "board">
        <%= link_to '', new_board_goal_path(board_id: @board.id), class: "fas fa-plus-circle fa-2x" %>
        <h2> Metas</h2>
        <ul>
          <% @board.board_goals.each do |board_goal| %>
            <li> <%= link_to board_goal.name, board_goal_path(@board, board_goal) %> </li>
          <% end %>
        </ul>
      </div>
    </div>
    
  </div>
    
</div>