<%= form_with(model: cell_goal, local: true) do |form| %>
  <% if cell_goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cell_goal.errors.count, "error") %> prohibited this cell_goal from being saved:</h2>

      <ul>
      <% cell_goal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form"> 
  <div class="field">
    <%= form.hidden_field :cell_id, value: params[:cell_id] %>
  </div>

  <div class="field">
    <%= form.label :goal_name%>
    <%= form.text_field :goal_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
</div>
<% end %>
