<div class = "cell-edit-body">
    <div class = "cell-edit">
        <%= link_to '', cell_goals_path, class: "fas fa-arrow-left fa-2x"%>
        <%= link_to '', @cell_goal, class: "fas fa-external-link-alt fa-2x" %>
        <h2>Editing Cell Goal</h2>

        <%= render 'form', cell_goal: @cell_goal %>

    </div>
</div>
