<p id="notice"><%= notice %></p>

<h1>Cell Goals</h1>

<table>
  <thead>
    <tr>
      <th>Cell</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cell_goals.each do |cell_goal| %>
      <tr>
        <td><%= cell_goal.cell.name %></td>
        <td><%= cell_goal.goal_name %></td>
        <td><%= link_to 'Show', cell_goal %></td>
        <td><%= link_to 'Edit', edit_cell_goal_path(cell_goal) %></td>
        <td><%= link_to 'Destroy', cell_goal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

