<div class = "cell-new-body">
    <div class = "cell-new">
        <%= link_to '', cells_path, class: "fas fa-arrow-left fa-3x"%>
        <h2 class = "new-cell-title">New Cell Goal</h2>
        <%= render 'form', cell_goal: @cell_goal %>
    </div>
</div>
