<div class = "project-show-body">
  <%= link_to '<button type="button">New Cell Goal</button>'.html_safe, new_cell_goal_path %>
  <div class = "project-show">
    <%= link_to '', cell_path(@cell_goal.cell_id), class: "fas fa-arrow-left fa-2x" %>
    <%= link_to '', edit_cell_goal_path(@cell_goal), class: "far fa-edit fa-2x" %>
    
    


    <div class = "project-infos">
      <div>
        <strong>Name:</strong>
      </div>
      <div>
        <%= @cell_goal.goal_name %>
      </div>
    </div>

    <div class = "project-infos">
      <div>
        <strong>Cell:</strong>
      </div>
      <div>
        <%= @cell_goal.cell.name %>
      </div>
    </div>

    <div class = "project-infos">
      <strong>Tarefas:</strong>
      <%= link_to '', new_cell_goal_task_path(cell_goal_id: @cell_goal.id), class: "fas fa-plus-circle fa-lg" %>
      <div class = "cell-goal-task">
        <ul>
          <% @cell_goal.cell_goal_tasks.each do |cell_goal_task| %>
            <li class = "board-text"><%= cell_goal_task.task_name %></li>
        <% end %>
        </ul>
       </div> 
    </div>

  </div>
</div>

