// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors.scss';
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');


// #### ##    ## ########  ######## ##     ## 
//  ##  ###   ## ##     ## ##        ##   ##  
//  ##  ####  ## ##     ## ##         ## ##   
//  ##  ## ## ## ##     ## ######      ###    
//  ##  ##  #### ##     ## ##         ## ##   
//  ##  ##   ### ##     ## ##        ##   ##  
// #### ##    ## ########  ######## ##     ##




.boards {

    h1 {
        transform: translateX(50px) translateY(20px);
        width: 160px;
    }

    width: 100vw;
    min-height: 95vh;
    background-color: $cinza-primario;

    .container_board {
        display: flex; 
        justify-content: center;      
        flex-wrap: wrap;
        width: 90vw;
        margin: 0 auto;    
        
        .new_board_button {
                    
            button {
                height: 70px;
                width: 70px;
                border: none;
                margin: 30px 195px;
                border-radius: 100px;
                background-color: $azul-escuro; 
                background-image: image-url("add.png");
                background-position: center;
                background-size: 30px 30px;
                background-repeat: no-repeat; 
                    
                a {
                    padding: 60px;
                }
            }

            button:hover {
                background-color: $cinza-terciario;
                border: 3px solid $azul-escuro; 
            }
        }

        .board{
            width: 400px;
            height: 100px;
            background-color: $cinza-terciario;
            margin: 15px 30px; 
            border-radius: 10px;

            .text_board {
                margin-top: 10px;
                margin-left: 25px;
                font-size: 1.715em;
            }
            
            .dropdown_board {
                
                .dropbutton_board {           
                    background-color: $azul-escuro;
                    border: none;
                    cursor: pointer;
                    float: right;
                    border-top-right-radius: 10px;

        
                    img {
                        height: 10px;
                        width: 20px;
                    }
                } 
            
                .dropdown_board_content {
                    display: none;
                    position: absolute;
                    background-color: $cinza-primario;
                    transform: translateX(300px) translateY(20px);
                    min-width: 100px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
                }
                
                a {
                    color: $azul-escuro;
                    font-size: 0.85em;
                    padding: 5px 10px;
                    text-decoration: none;
                    display: block;
                }
        
                a:hover {
                    background-color: $azul-escuro;
                    color: $cinza-primario;
                }
            }
                
            .dropdown_board:hover .dropdown_board_content {
                display: block;
            }
        
            .dropdown_board:hover .dropbutton_board {
                background-color: $azul-escuro;
            }                 
        }      
    }
}




// ##    ## ######## ##      ## 
// ###   ## ##       ##  ##  ## 
// ####  ## ##       ##  ##  ## 
// ## ## ## ######   ##  ##  ## 
// ##  #### ##       ##  ##  ## 
// ##   ### ##       ##  ##  ## 
// ##    ## ########  ###  ### 



.new_board {
    width: 100%;
    height: 80vh;
    background-color: $cinza-primario;
    color: $azul-escuro;
    font-weight: bold;

    .container_form_board {
        width: 300px;
        height: 160px;
        background-color: $cinza-secundario;
        margin: 0 auto;
        transform: translateY(10vw);
        border-radius: 10px;

        h1 {
            transform: translateX(5px) translateY(3px);
        }

        .link_board {
            transform: translateX(5px);
        }
    
        .form_board {
            width: 300px;
            min-width: 300px;
            min-height: 80px;
            transform: translateX(8px);
            margin: 0 auto;
            
            #board_name {
                width: 280px;
                border: solid 2px $azul-escuro;
                border-radius: 25px;
            }

            .actions {
                input {
                    width: 140px;
                    background-color: $azul-escuro;
                    color: $cinza-primario;
                    border: none;
                    border-radius: 25px;
                    margin-top: 5px;
                }
            }
            .field{
                margin-top: 10%;
            }

            input[type="text"]{
                font-weight: normal !important;
            }
        }
    }    
}




//  ######  ##     ##  #######  ##      ## 
// ##    ## ##     ## ##     ## ##  ##  ## 
// ##       ##     ## ##     ## ##  ##  ## 
//  ######  ######### ##     ## ##  ##  ## 
//       ## ##     ## ##     ## ##  ##  ## 
// ##    ## ##     ## ##     ## ##  ##  ## 
//  ######  ##     ##  #######   ###  ### 




.show_board {
    background-color: $cinza-primario;
    text-align: center;
    color: $azul-escuro;

    h2, h3{
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: bolder;
        font-size: 24px;
        text-transform: uppercase;
    }

    p{
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
    }

    .board-icons{
        justify-content: space-between;
        display: flex;
        width: 60%;
        margin: 0 auto;
    }

    .board-tasks{
        background-color: #CED8E7;
        width: 80%;
        margin-left: 10%;
        border-radius: 10px;
        margin-top: 5%;
    }

    .fa-plus-circle{
        float: right;
    }



    
}




// ######## ########  #### ######## 
// ##       ##     ##  ##     ##    
// ##       ##     ##  ##     ##    
// ######   ##     ##  ##     ##    
// ##       ##     ##  ##     ##    
// ##       ##     ##  ##     ##    
// ######## ########  ####    ## 





.board_edit {
    width: 100%;
    height: 80vh;
    background-color: $cinza-primario;
    color: $azul-escuro;
    font-weight: bold;

    .container_form_board {
        width: 35%;
        height: 40%;
        background-color: $cinza-secundario;
        margin: 0 auto;
        transform: translateY(10vw);
        border-radius: 10px;

        h1 {
            margin-left: 18%;
        }

        .link_board {
            transform: translateX(5px);
        }
    
        .form_board {
            width: 300px;
            min-width: 300px;
            min-height: 80px;
            transform: translateX(8px);
            margin: 0 auto;
            
            #board_name {
                width: 70%;
                border: solid 1px $azul-escuro;
            }

            .actions {
                input {
                    width: 140px;
                    background-color: $azul-escuro;
                    color: $cinza-primario;
                    border: none;
                    border-radius: 25px;
                    margin-top: 5px;
                }
            }
            input[type="text"]{
                font-weight: normal !important;
            }
        }
    } 
    
    .board_edit_links{
        justify-content: space-between;
        display: flex;
        width: 100%;
        margin: 0 auto;
    }

    .field{
        margin-top: 5%;
        margin-bottom: 5%;
    }


}


.cell-edit{
    #board_task_done{
        width: 20px;
    }
}