// Place all the styles related to the CellGoals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors.scss';

.cell-edit-body, .cell-new-body, .cell-show-body { 
    width: 100vw;
    height: 80vh;
    background-color: $cinza-primario;

    .cell-edit, .cell-new, .cell-show{
        background-color: white;
        transform: translateY(2vw);
        width: 70vw;
        margin: 0 auto;
        border-radius: 10px;
        font-family: "Open Sans";

        input, textarea{
            height: 40px;
            width: 50vw;
            font-size: 14px;
            border: solid 1px $cinza-quaternario;
            background-color: #F8F8F8;
            border-radius: 1%;
        }

        .form {            
            padding: 20px 40px 40px 0;
            width: 25vw;
            margin-left: 12%;
            
        }

        h2 {
            margin-left: 12%;
            font-size: 36px;
            font-weight: bold;
            color: $azul-escuro;
            font-family: "Open Sans Condensed" !important;
        }

        .new-cell-title {
            margin-left: 12%;
            font-size: 36px;
            font-weight: bold;
            color: $azul-escuro;
            font-family: "Open Sans Condensed" !important;
        }

        label{
            font-size: 16px;
            margin-top: 2%;
        }

        textarea{
            height: 100px;
        }
        
        input[type="submit"]{
            width: 100px; 
            color: white;
            background-color: #002F67;
            padding: 5px;
            font-family: 'Open Sans Condensed', sans-serif;
            font-weight: bold;
            border: {
                radius: 3%;
                color: $azul-escuro;
                
            }
            box-shadow: 0;
            margin-top: 5%;
         }   

         input[type="number"]{
            width: 50px;
            margin-left: 3%;
        }

        .develop{
            margin-top: 5%;
        }

        .fa-external-link-alt{
            float: right;
        }

        strong{
            font-size: 18px;
        }

        .cell-title{
            font-size: 36px;
            color: $azul-escuro;
            font-weight: bold;
            font-family: "Open Sans Condensed";
            text-transform: uppercase;
            text-align: center;
        }

        .cell-infos{
            margin-left: 5%;
            margin-top: 2%;
            display: block;
        }

        .tasks{
            margin-top: 2%;

        }

        .task-name{
            font-weight: normal;
            font-size: 17px;
        }

        
    }
    .cell-show{
        margin-bottom: 200px;
    }

    .cell-new{
        display: block;
    }

}

.cell-show-body{
    width: 100%;
}

.project-show-body{
    width: 100% !important;
    button{
        color: white;
        background-color: #002F67;
        padding: 5px;
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: bold;
        float: right;
        border: {
            radius: 3%;
            color: $azul-escuro;
            
        }
        box-shadow: 0;



    
    }

    .project-show{
        .fa-edit{
            float: right;
        }
    }
}

