// Place all the styles related to the Cells controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'colors.scss';
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');
.cells-index{
    width: 100%;
    height:100vh;
    background-color: $cinza-primario;
    h1{
        font-family: 'Open Sans Condensed', sans-serif;
        color: $azul-escuro;
        font-weight: bold;
        font-size: 2.5em;
        margin-left: 10%;
    }
    
    table,thead,td{
        border:1px solid #ddd;
        text-align:left;
        font-family: 'Open Sans',sens-serif;
    }
    
    table{
        background-color: white;
        border-collapse:collapse;
        width:80%;
        margin-left: auto;
        margin-right: auto;
    }

    th,td{
        padding:15px;
    }
    
    button{
        color: white;
        background-color: #002F67;
        padding: 5px;
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: bold;
        border: {
            radius: 3%;
            color: $azul-escuro;
            
        }
        box-shadow: 0;
    }
    
    .h1-and-button{
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin-left: 10%;

    }
    
}

.cell-edit-body, .cell-new-body, .cell-show-body { 
    width: 100%;
    height: 50vh;
    background-color: $cinza-primario;

    .cell-edit, .cell-new, .cell-show{
        background-color: white;
        transform: translateY(2vw);
        width: 70%;
        margin: 0 auto;
        border-radius: 10px;
        font-family: "Open Sans";

        input, textarea{
            height: 40px;
            width: 50vw;
            font-size: 14px;
            border: solid 1px $cinza-quaternario;
            background-color: #F8F8F8;
            border-radius: 1%;
        }

        .form {            
            padding: 20px 40px 40px 0;
            width: 25vw;
            margin-left: 12%;
            
        }

        h2 {
            margin-left: 12%;
            font-size: 36px;
            font-weight: bold;
            color: $azul-escuro;
            font-family: "Open Sans Condensed" !important;
        }

        .new-cell-title {
            margin-left: 12%;
            font-size: 36px;
            font-weight: bold;
            color: $azul-escuro;
            font-family: "Open Sans Condensed" !important;
        }

        label{
            font-size: 16px;
            margin-top: 2%;
        }

        textarea{
            height: 100px;
        }
        
        input[type="submit"]{
            width: 100px; 
            color: white;
            background-color: #002F67;
            padding: 5px;
            font-family: 'Open Sans Condensed', sans-serif;
            font-weight: bold;
            border: {
                radius: 3%;
                color: $azul-escuro;
                
            }
            box-shadow: 0;
            margin-top: 5%;
         }   

         input[type="number"]{
            width: 50px;
            margin-left: 3%;
        }

        .develop{
            margin-top: 5%;
        }

        .fa-external-link-alt{
            float: right;
        }

        strong{
            font-size: 18px;
        }

        .cell-title{
            font-size: 36px;
            color: $azul-escuro;
            font-weight: bold;
            font-family: "Open Sans Condensed";
            text-transform: uppercase;
            text-align: center;
        }

        .cell-infos{
            margin-left: 5%;
            margin-top: 2%;
            display: block;
        }

    }

}

.cell-new-body, .cells-index, .cell-edit-body{
    height: 80vh !important;
}


.board-tasks {

    background-color: $cinza-primario;
    width: 100%;

    .container_board {
        display: flex; 
        justify-content: center;      
        flex-wrap: wrap;
        width: 100% !important;
        margin: 0 auto;    
        

        .board{
            width: 35%;
            height: 50%;
            background-color: $cinza-terciario;
            margin: 15px 30px; 
            border-radius: 10px;
            margin-top: 5%;

            .text_board {
                
                margin-top: 10px;
                margin-left: 25px;
                font-size: 24px;
            }
            h2{
                font-family: 'Open Sans Condensed', sans-serif !important;
                font-weight: bolder;
                font-size: 1.6em;
                text-transform: uppercase;
                color: $azul-escuro;
                text-align: center;
            }

            .fa-plus-circle{
                float: right;
            }

            .task-name{
                display: flex;
            }
            
            .fa-edit{
                margin-left: 3%;
            }

            li{
                margin-left: 10%;
            }
        }      
    }
}

