// Place all the styles related to the CellTasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.cells-tasks-show{
    .fa-edit{
        float: right;
    }
}
