$cinza-primario: #F8F8F8; /* para fundo de quase todas as telas e de boxes mais claras*/
$cinza-secundario: #ECECEC; /* para barras*/
$cinza-terciario: #DDDDDD; /* para fundo de boxes mais escuras*/
$cinza-quaternario: #BBBBBB; /* para ícones*/

$azul-escuro: #003069; /* para header, footer e títulos*/
$azul-claro: #688DB8;