@font-face {
    font-family: 'Open Sans';
    src: asset-url('OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: asset-url('OpenSansCondensed-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Comfortaa';
    src: asset-url('Comfortaa-Regular.ttf') format('truetype');
}