@import 'colors.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');

footer {
    width: 100%;
    height: 65px;
    background-color: $azul-escuro;


    .container_footer{
        display: flex;
        justify-content: flex-end;
        margin: 0 auto;
        width: 75vw;

        h2 {
            font-size: 18px;
            color: $cinza-primario;   
            font-family: 'Open Sans Condensed', sans-serif;
            font-weight: bolder;        
        }

        img {
            float: right;
            width: 60px;
            transform: translateX(25px) translateY(10px);    
        }
    }
}