@import 'colors.scss';

header {
    width: 100%;
    height: 65px;
    background-color: $azul-escuro;
    
    .container_header{
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        width: 80vw;          
        
        img {
            width: 60px;
            transform: translateX(25px) translateY(10px);    
        }
        
        .dropbutton {           
            background-color: $azul-escuro;
            border: none;
            cursor: pointer;

            img {
                height: 20px;
                width: 40px;
                transform: translateY(20px);
            }
        }  
        
        .dropdown-content {
            transform: translateX(-114px) translateY(17px);
            display: none;
            position: absolute;
            background-color: $cinza-primario;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }
        
        a {
            color: $azul-escuro;
            font-size: 12px;
            padding: 5px 10px;
            text-decoration: none;
            display: block;
        }

        a:hover {
            background-color: $azul-escuro;
            color: $cinza-primario;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbutton {
            background-color: $azul-escuro;
        }                      
    }    
}