@import 'fonts.scss';
@import 'colors.scss';
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');

.user-profile{
    background-color: $cinza-primario;
    height: 100vh;
    width: 100%;

    .user-info{
        display: flex;
        margin-left: 10%;
        background-color: white;
        width: 80%;  
        img{
            width: 23vh;
            height: 23vh;
            border-radius: 100%;
            margin-left: 45%;
            margin-top: 10%;
        }
        .names{
            margin-top: 3%;
            margin-left: 15vh;
            #name{
                font-size: 2.5em;
                font-weight: bold;
                text-transform: capitalize;
            }
            #kind{
                margin-top: 1%;
            }
            .bottom-names{
                font-size: 1.25em;
                margin-top: -15px;
            }
        }

    }
    @media only screen and (max-width: 600px) {
        .user-info {
          display: block;
          img{
              display: block;
              margin-left: auto;
              margin-right: auto;
              margin-top: 10%;
          }
          .names{
              text-align: center;
              .names-2{
                  text-align: left;
                  display: inline-block;
              }

            }  
        }        
        
    }
}

.users-index{
    width: 100%;
    height:100vh;
    background-color: $cinza-primario;
    h1{
        font-family: 'Open Sans Condensed', sans-serif;
        color: $azul-escuro;
        font-weight: bold;
        font-size: 2.5em;
        margin-left: 10%;
    }
    
    table,thead,td{
        border:1px solid #ddd;
        text-align:left;
        font-family: 'Open Sans',sens-serif;
    }
    
    table{
        background-color: white;
        border-collapse:collapse;
        width:80%;
        margin-left: auto;
        margin-right: auto;
    }

    th,td{
        padding:15px;
    }
    
    button{
        color: white;
        background-color: #002F67;
        padding: 5px;
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: bold;
        border: {
            radius: 3%;
            color: $azul-escuro;
            
        }
        box-shadow: 0;
    }
    
    .h1-and-button{
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin-left: 10%;

    }
    
}


.user-edit-body, .user-new-body{ 
    width: 100vw;
    height: 100vh;
    background-color: $cinza-primario;

    .user-edit, .user-new{
        background-color: white;
        transform: translateY(5vw);
        width: 70vw;
        margin: 0 auto;
        border-radius: 10px;
        font-family: "Open Sans";

        input, textarea{
            height: 40px;
            width: 50vw;
            font-size: 14px;
            border: solid 1px $cinza-quaternario;
            background-color: #F8F8F8;
            border-radius: 1%;
        }

        .form {            
            padding: 20px 40px 40px 0;
            width: 25vw;
            margin-left: 12%;
            
        }

        h2 {
            margin-left: 12%;
            font-size: 36px;
            font-weight: bold;
            color: $azul-escuro;
            font-family: "Open Sans Condensed" !important;
        }

        label{
            font-size: 16px;
            margin-top: 2%;
        }

        textarea{
            height: 100px;
        }
        
        input[type="submit"]{
            width: 100px; 
            color: white;
            background-color: #002F67;
            padding: 5px;
            font-family: 'Open Sans Condensed', sans-serif;
            font-weight: bold;
            border: {
                radius: 3%;
                color: $azul-escuro;
                
            }
            box-shadow: 0;
            margin-top: 5%;
         }   

         input[type="number"]{
            width: 50px;
            margin-left: 3%;
        }


        .fa-external-link-alt{
            float: right;
        }

        strong{
            font-size: 18px;
        }

        .user-title{
            font-size: 36px;
            color: $azul-escuro;
            font-weight: bold;
            font-family: "Open Sans Condensed";
            text-transform: uppercase;
            text-align: center;
        }

        .user-infos{
            margin-left: 5%;
            margin-top: 2%;
            display: block;
        }
  

    }
    .user-edit{
        #user_photo{
            border: none;
        }
    }

}


.user-profile{
    .users-icons{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}



.user-profile{
    .boards { /*body dos boards*/
        width: 100vw;
        min-height: 95vh;
        background-color: $cinza-primario;
    
        .container_board { /*todos os boards*/
            display: flex; 
            justify-content: center;      
            flex-wrap: wrap;
            width: 90vw;
            margin: 0 auto;    
            
    
            .board{ /*cada board*/
                width: 450px;
                min-height: 120px;
                background-color: $cinza-terciario;
                margin: 15px 40px 15px 25px; 
                

                h2{
                    font-family: 'Open Sans Condensed', sans-serif;
                    font-size: 24px;
                    font-weight: bold;
                    text-align: center;
                    color: $azul-escuro;
                    text-transform: uppercase;
                }

                .board-text{
                    font-size: 18px;
                    font-family: "Open Sans";
                    margin-left: 15%;
                    text-transform: capitalize;
                    list-style-type: circle;

                }

                
            }
                                
                 
        }
    }
}