// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'fonts.scss';
@import 'colors.scss';
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');


.projects-index-body{
    height:100vh;
    background-color: $cinza-primario;

    .projects-index{
        width: 80%;
        margin-left: 10%;
        h1{
            font-family: 'Open Sans Condensed', sans-serif;
            color: $azul-escuro;
            font-weight: bold;
            font-size: 2.5em;
            
        }


        table,thead,td{
            border:1px solid #ddd;
            text-align:left;
            font-family: 'Open Sans',sens-serif;
        }
        table{
            background-color: white;
            border-collapse:collapse;
            width:80%;
            margin-left: auto;
            margin-right: auto;
        }

        th,td{
            padding:15px;
        }
        
        button{
            color: white;
            background-color: #002F67;
            padding: 5px;
            font-family: 'Open Sans Condensed', sans-serif;
            font-weight: bold;
            border: {
                radius: 3%;
                color: $azul-escuro;
                
            }
            box-shadow: 0;
        
        }

        .h1-and-button{
            display: flex;
            justify-content: space-between;
            width: 80%;
            margin-left: 10%;

        }
    }
}


.project-edit-body, .project-new-body, .project-show-body { 
    width: 100vw;
    height: 100vh;
    background-color: $cinza-primario;

    .project-edit, .project-new, .project-show{
        background-color: white;
        transform: translateY(5vw);
        width: 70vw;
        margin: 0 auto;
        border-radius: 10px;
        font-family: "Open Sans";

        input, textarea{
            height: 40px;
            width: 50vw;
            font-size: 14px;
            border: solid 1px $cinza-quaternario;
            background-color: #F8F8F8;
            border-radius: 1%;
        }

        .form {            
            padding: 20px 40px 40px 0;
            width: 25vw;
            margin-left: 12%;
            
        }

        h2 {
            margin-left: 12%;
            font-size: 36px;
            font-weight: bold;
            color: $azul-escuro;
            font-family: "Open Sans Condensed" !important;
        }

        label{
            font-size: 16px;
            margin-top: 2%;
        }

        textarea{
            height: 100px;
        }
        
        input[type="submit"]{
            width: 100px; 
            color: white;
            background-color: #002F67;
            padding: 5px;
            font-family: 'Open Sans Condensed', sans-serif;
            font-weight: bold;
            border: {
                radius: 3%;
                color: $azul-escuro;
                
            }
            box-shadow: 0;
            margin-top: 5%;
         }   

         input[type="number"]{
            width: 50px;
            margin-left: 3%;
        }

        .develop{
            margin-top: 5%;
        }

        .fa-external-link-alt{
            float: right;
        }

        strong{
            font-size: 18px;
        }

        .project-title{
            font-size: 36px;
            color: $azul-escuro;
            font-weight: bold;
            font-family: "Open Sans Condensed";
            text-transform: uppercase;
            text-align: center;
        }

        .project-infos{
            margin-left: 5%;
            margin-top: 2%;
            display: block;
        }
    }
}