// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors.scss';




// ##        #######   ######   #### ##    ## 
// ##       ##     ## ##    ##   ##  ###   ## 
// ##       ##     ## ##         ##  ####  ## 
// ##       ##     ## ##   ####  ##  ## ## ## 
// ##       ##     ## ##    ##   ##  ##  #### 
// ##       ##     ## ##    ##   ##  ##   ### 
// ########  #######   ######   #### ##    ##




.login { 
    background-image: image-url("fundo.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;

    .container {
        transform: translateY(2vw);
        min-width: 400px;
        width: 35vw;             
        margin: 0 auto;
        background-color: $cinza-primario;
        border-radius: 10px;

        .signup_link {
            
            a {
                font-size: 1.285em;
                font-weight: bold;
                color: $azul-escuro;
            }
        }

        .forgot_your_password_link {
            
            a {
                font-size: 1.285em;
                font-weight: bold;
                color: $azul-escuro;
            }
        }

        #user_remember_me {
            width: 20px;
            height: 20px;
            transform: translateY(3px);
        }

        .actions {
            
            input {
                height: 30px;
                width: 100px;
                border-radius: 50px;
                background-color: $azul-escuro;
                border: none;
                color: $cinza-primario;
                font-weight: bold;
                font-size: 1.285em;                
            }

            input:hover {
                background-color: $azul-claro;
            }
        }

        .form {            
            padding: 20px 40px 40px 0;
            width: 25vw;
            min-width: 235px;
            margin: 0 auto;

            h2 {
                font-size: 2.575em;
                font-weight: bold;
                color: $azul-escuro;

            }

            .field {

                label {
                    font-size: 1.285em;
                    color: $azul-escuro;
                    padding: 10px;
                }


                #user_email, #user_password {
                    height: 40px;
                    width: 24vw;
                    min-width: 235px;
                    font-size: 1.285em;
                    border-radius: 5px;
                    border: solid 1px $azul-escuro; 
                    background-color: $cinza-primario;
                
                }
            }
        }
    }    
}




//  ######  ####  ######   ##    ## ##     ## ########  
// ##    ##  ##  ##    ##  ###   ## ##     ## ##     ## 
// ##        ##  ##        ####  ## ##     ## ##     ## 
//  ######   ##  ##   #### ## ## ## ##     ## ########  
//       ##  ##  ##    ##  ##  #### ##     ## ##        
// ##    ##  ##  ##    ##  ##   ### ##     ## ##        
//  ######  ####  ######   ##    ##  #######  ## 



.signup {
    background-image: image-url("fundo.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 120vh;

    .container {
        width: 30vw;
        min-width: 400px;
        margin: 0 auto;
        background-color: $cinza-primario;
        transform: translateY(4vw);
        border-radius: 10px;

        .actions {
            
            input {
                height: 30px;
                width: 100px;
                border-radius: 50px;
                background-color: $azul-escuro;
                border: none;
                color: $cinza-primario;
                font-weight: bold;
                font-size: 1.285em;
                transform: translateY(3px);                
            }

            input:hover {
                background-color: $azul-claro;
            }
        }   
        
        .form {            
            padding: 20px 40px 40px 0;
            width: 25vw;
            min-width: 235px;
            margin: 0 auto;

            h2 {
                font-size: 2.575em;
                font-weight: bold;
                color: $azul-escuro;

            }

            .field {

                label {
                    font-size: 1.285em;
                    color: $azul-escuro;
                    padding: 5px;
                }

                #user_first_name, #user_last_name, #user_email, #user_password, #user_password_confirmation {
                    height: 40px;
                    width: 24vw;
                    min-width: 235px;
                    font-size: 1.285em;
                    border-radius: 5px;
                    border: solid 1px $azul-escuro; 
                    background-color: $cinza-primario;                                                  
                }                 
            }
        }
 
        .login_link {

            a {
                font-size: 1.285em;
                font-weight: bold;
                color: $azul-escuro;
                
            }
        }  
    }
}




// ########  #######  ########   ######    #######  ########    ########     ###     ######   ######  ##      ##  #######  ########  ########  
// ##       ##     ## ##     ## ##    ##  ##     ##    ##       ##     ##   ## ##   ##    ## ##    ## ##  ##  ## ##     ## ##     ## ##     ## 
// ##       ##     ## ##     ## ##        ##     ##    ##       ##     ##  ##   ##  ##       ##       ##  ##  ## ##     ## ##     ## ##     ## 
// ######   ##     ## ########  ##   #### ##     ##    ##       ########  ##     ##  ######   ######  ##  ##  ## ##     ## ########  ##     ## 
// ##       ##     ## ##   ##   ##    ##  ##     ##    ##       ##        #########       ##       ## ##  ##  ## ##     ## ##   ##   ##     ## 
// ##       ##     ## ##    ##  ##    ##  ##     ##    ##       ##        ##     ## ##    ## ##    ## ##  ##  ## ##     ## ##    ##  ##     ## 
// ##        #######  ##     ##  ######    #######     ##       ##        ##     ##  ######   ######   ###  ###   #######  ##     ## ########




.forgot_password {
    background-image: image-url("fundo.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;

    .container {
        width: 30vw;
        min-width: 400px;
        margin: 0 auto;
        background-color: $cinza-primario;
        transform: translateY(6vw);
        border-radius: 10px;

        .actions {
            
            input {
                height: 30px;
                width: 200px;
                border-radius: 50px;
                background-color: $azul-escuro;
                border: none;
                color: $cinza-primario;
                font-weight: bold;
                font-size: 1.285em;
                transform: translateY(3px);                
            }

            input:hover {
                background-color: $azul-claro;
            }
        }   
        
        .form {            
            padding: 20px 40px 40px 0;
            width: 25vw;
            min-width: 235px;
            margin: 0 auto;

            h2 {
                font-size: 2.575em;
                font-weight: bold;
                color: $azul-escuro;

            }

            .field {

                label {
                    font-size: 1.285em;
                    color: $azul-escuro;
                    padding: 5px;
                }

                #user_email {
                    height: 40px;
                    width: 24vw;
                    min-width: 235px;
                    font-size: 1.285em;
                    border-radius: 5px;
                    border: solid 1px $azul-escuro; 
                    background-color: $cinza-primario;                                                  
                }
            }
        }
 
        .login_link, .signup_link {

            a {
                font-size: 1.285em;
                font-weight: bold;
                color: $azul-escuro;
                
            }
        }  
    }
}

