<%= form_with(model: cell_goal_task, local: true) do |form| %>
  <% if cell_goal_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cell_goal_task.errors.count, "error") %> prohibited this cell_goal_task from being saved:</h2>

      <ul>
      <% cell_goal_task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 
  <div class="field">
    <%= form.hidden_field :cell_goal_id, value: params[:cell_goal_id] %>
  </div>


  <div class="field">
    <%= form.label :task_name%>
    <%= form.text_field :task_name %>
  </div> 


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
