<p id="notice"><%= notice %></p>

<h1>Cell Goal Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Cellgoal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cell_goal_tasks.each do |cell_goal_task| %>
      <tr>
        <td><%= cell_goal_task.cell_goal.goal_name %></td>
        <td><%= link_to 'Show', cell_goal_task %></td>
        <td><%= link_to 'Edit', edit_cell_goal_task_path(cell_goal_task) %></td>
        <td><%= link_to 'Destroy', cell_goal_task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cell Goal Task', new_cell_goal_task_path %>
