<p id="notice"><%= notice %></p>

<p>
  <strong>META:</strong>
  <%= @cell_goal_task.cell_goal.goal_name %>
</p>

<p>
  <strong>Tarefa da meta:</strong>
  <%= @cell_goal_task.task_name %>
</p>

<%= link_to 'Edit', edit_cell_goal_task_path(@cell_goal_task) %> |
<%= link_to 'Back', cell_goal_tasks_path %>
