<div class = "cell-edit-body">
    <div class = "cell-edit">
        <%= link_to '', cells_path, class: "fas fa-arrow-left fa-2x"%>
        <%= link_to '', @cell, class: "fas fa-external-link-alt fa-2x" %>

        <h2>Editing Cell</h2>

        <%= render 'form', cell: @cell %>
    </div>
</div>
