<div class = "cells-index">
  <p id="notice"><%= notice %></p>

  <div class = "h1-and-button">
      <div>
        <h1>Cells</h1>
      </div>
      <div>
        <%= link_to '<button type="button">New Cell</button>'.html_safe, new_cell_path %>
      </div>
  </div>


  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Board</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @cells.each do |cell| %>
        <tr>
          <td><%= cell.name %></td>
          <td><%= cell.board.name %></td>
          <td><%= link_to '', cell, class: "fas fa-external-link-alt fa-lg" %></td>
          <td><%= link_to '', edit_cell_path(cell), class: "far fa-edit fa-lg" %></td>
          <td><%= link_to '', cell, class: "fas fa-trash-alt fa-lg", method: :delete, data: { confirm: 'Are you sure?' } %></td>

        </tr>
      <% end %>
    </tbody>
  </table>

  <br>


</div>