<div class = "cell-new-body">
    <div class = "cell-new">
        <%= link_to '', cells_path, class: "fas fa-arrow-left fa-3x"%>
        <h2 class = "new-cell-title">New Cell</h2>

        <%= render 'form', cell: @cell %>
    </div>
</div>
