<div class = "cell-show-body">
  <div class = "cell-show">
    <p id="notice"><%= notice %></p>
    <%= link_to '', edit_cell_path(@cell), class: "far fa-edit fa-2x" %>


    <p class = "cell-title">
      <%= @cell.name %>
    </p>

    <div class = "cell-infos">
      <div>
        <strong>Gerente<strong>
      </div>
      <div>
        <%= @cell_manager %>
      </div>
    </div>

    <div class = "cell-infos">
      <div>
        <%= @cell.board.name %>
      </div>
    </div>

    <div class = "cell-infos">
      <div> 
        <strong>Membros<strong>
      </div>
      <div>
        <% @cell_join.each do |cell_join| %>
          <%= cell_join.user.first_name %><br/>
        <% end %>
      </div>
    </div>



    </div>

    <div class = "board-tasks">
      <div class="container_board">  

        <div class = "board">
          <%= link_to '', new_cell_task_path(cell_id: @cell.id) , class: "fas fa-plus-circle fa-2x" %>
          <h2 class = "tasks-and-goals">Tarefas</h2><br>
          
          <ul>
            <% @cell_tasks.each do |cell_task| %>
              <div class = "task-name">
                <li class = "board-text"><%= cell_task.name %></li>
                <%= link_to '', edit_cell_task_path(cell_task), class: "far fa-edit fa-lg"%><br>
              </div>
            <% end %>
          </ul>
        </div>

        <div class = "board">
          <%= link_to '', new_cell_goal_path(cell_id: @cell.id), class: "fas fa-plus-circle fa-2x" %>
          <h2 class = "tasks-and-goals">Metas</h2><br>
          
          <ul>
            <% @cell.cell_goals.each do |cell_goal| %>
              <div class = "task-name">
                <li class = "board-text"><%= link_to cell_goal.goal_name, cell_goal %></li>
              </div>
            <% end %>
          </ul>
        </div>

      </div>

  </div>

