<!DOCTYPE html>
<html>
  <head>
    <title>SistemaGerenciamentoInJunior</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  </head>

  <body>    
    <header>
      <div class="container_header">
        <div class="img">
          <%= image_tag  "logo-branca.png" %>
        </div>
        <div class="dropdown">
          <% if current_user %>
            <button class="dropbutton"><%= image_tag  "menu.png" %></button>
            <div class="dropdown-content">
              <%= link_to "Meu perfil", current_user %>
              <%= link_to 'Membros', users_path %>
              <%= link_to 'Células', cells_path %>
              <%= link_to 'Diretorias', boards_path %>
              <%= link_to 'Projetos', projects_path %>
              <%= link_to 'Fórum', forum_posts_path %>
              <%= link_to "Sair", destroy_user_session_path, method: :delete %>
            </div>
          <% end %>
        </div>
      </div>
    </header>

    <%= yield %>

    <footer>
      <div class="container_footer">
        <div class="dev_by">
          <h2>Desenvolvido por</h2>
        </div>
        <div class="img">
          <%= image_tag  "logo-branca.png" %>
        </div>
      </div>
    </footer>
  </body>
</html>
